<p id="notice"><%= notice %></p>

<h1>Group User Roosters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Isadmin</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_user_roosters.each do |group_user_rooster| %>
      <tr>
        <td><%= group_user_rooster.user %></td>
        <td><%= group_user_rooster.isadmin %></td>
        <td><%= group_user_rooster.group %></td>
        <td><%= link_to 'Show', group_user_rooster %></td>
        <td><%= link_to 'Edit', edit_group_user_rooster_path(group_user_rooster) %></td>
        <td><%= link_to 'Destroy', group_user_rooster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group User Rooster', new_group_user_rooster_path %>
