<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @group_user_rooster.user[:first_name] %> <%= @group_user_rooster.user[:last_name] %>
</p>

<p>
  <strong>Isadmin:</strong>
  <%= @group_user_rooster.isadmin %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_user_rooster.group[:name] %>
</p>

<% if @group_user_rooster.isadmin %>
	<h4> If you would like to join this group, please contact this person </h4>
	<strong>Email:</strong>
  	<%= @group_user_rooster.user[:email] %>
<% end %>

