<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p class="post-username">
  <!-- <strong>User:</strong> -->
  <%= @post.user.first_name + " " + @post.user.last_name %>
</p>

<p class="post-text">
  <!-- <strong>Text:</strong> -->
=======
<p>
  <strong>User:</strong>
  <%= @post.user.first_name + " " + @post.user.last_name %>
</p>

<p>
  <strong>Text:</strong>
>>>>>>> e2b6417fc9d8656ce92aca426d6cf5fa5ca2d10a
  <%= @post.caption %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
